*{
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    text-align: center;
}
.container h1{
    padding-top: 50px;
    padding-bottom: 20px;
}
.container h2 a{
    color: rgb(133, 20, 214);

}
.container p{
    text-align: left;
}